<div class="panel panel-primary">
    <div class="panel-heading">
        {{customerDetailCtrl.title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" type="text" class="form-control" ng-model="customerDetailCtrl.customer.firstName">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" type="text" class="form-control" ng-model="customerDetailCtrl.customer.lastName">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control" ng-model="customerDetailCtrl.customer.email">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input id="phone" type="text" class="form-control" ng-model="customerDetailCtrl.customer.phone">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth</label>
                    <input id="dateOfBirth" type="date" class="form-control" ng-model="customerDetailCtrl.customer.dateOfBirth">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
      <button class="btn btn-success pull-right" ng-click="customerDetailCtrl.save()">
        Save <i class="glyphicon glyphicon-save"></i>
      </button>
    </div>
</div>
