<div class="panel panel-primary">
    <div class="panel-heading">
        {{saleDetailCtrl.title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="customer">Customer</label>
                    <ui-select ng-model="saleDetailCtrl.selectedCustomer" theme="bootstrap">
                        <ui-select-match placeholder="Select or search a customer in the list...">
                            {{$select.selected.firstName}} {{$select.selected.lastName}}
                        </ui-select-match>
                        <ui-select-choices repeat="customer in saleDetailCtrl.customers | filter: $select.search">
                            <div ng-bind-html="customer.firstName + ' ' + customer.lastName | highlight: $select.search"></div>
                            <smal ng-bind-html="customer.email | highlight: $select.search"></smal>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="vehicle">Vehicle</label>
                    <ui-select ng-model="saleDetailCtrl.selectedVehicle" theme="bootstrap">
                        <ui-select-match placeholder="Select or search a vehicle in the list...">
                            {{$select.selected.year}} {{$select.selected.make}} {{$select.selected.model}}
                        </ui-select-match>
                        <ui-select-choices repeat="vehicle in saleDetailCtrl.vehicles | filter: $select.search">
                            <div ng-bind-html="vehicle.make + ' ' + vehicle.model + ' - ' + vehicle.color | highlight: $select.search"></div>
                            <smal ng-bind-html="vehicle.year | highlight: $select.search"></smal>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="invoiceDate">Invoice Date</label>
                    <input id="invoiceDate" type="date" class="form-control" ng-model="saleDetailCtrl.sale.invoiceDate ">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="paymentDate">Payment Date</label>
                    <input id="paymentDate" type="date" class="form-control" ng-model="saleDetailCtrl.sale.paymentDate ">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-success pull-right" ng-click="saleDetailCtrl.save()">
        Save <i class="glyphicon glyphicon-save"></i>
      </button>
    </div>
</div>
